{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sakız Adası'ndaki turizm acentamız ile Türkçe rehber eşliğinde turlar düzenlemekteyiz'">
    <meta name="keywords" content="Sakız adası, tur, rehber, acenta, bilet, otel, kiralık araç, organizasyon">
    <meta name="author" content="Deniz Uyanmaz, Deniz Tours, info@deniztour.com">
    <title>Deniz Tours</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link href="/static/css/toolkit-minimal.css" rel="stylesheet">
    <link href="/static/css/application-minimal.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/0c26ec9a16.js"></script>
    <link rel="icon" href="/static/imgs/logo.jpg" type="image/gif" sizes="16x16">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49257393-3', 'auto');
        ga('send', 'pageview');

    </script>
  </head>
  <body>

    <div style="padding-right:20px;padding-top:10px" class="pull-right">
      <!-- Language Selector -->
      <form class="form-inline" action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}" />
      <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
      {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary btn-xs"> {% trans "Go" %} </button>
      </form>
    </div>

    <!-- Messages  -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <div class="block lg p-b-2 app-block-stats">
      <!-- Intro -->
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="/static/imgs/logo.jpg" class="app-translate-5" data-transition="entrance">
            <hr class="m-t-0 m-b-lg m-x-auto visible-xs">
          </div>
          <div class="col-md-7 col-sm-6 text-xs-center text-sm-left">
            <p class="lead">
              {% trans "Yunanistan turizm bakanlığının izni ile 2016 yılında Sakız Adası (Chios) da Deniz UYANMAZ tarafından kurulmuş olup Sakız Adası'nın ilk ve tek Türk işletmesi turizm acentası olma özelliğine sahiptir." %} <br><br>
              {% trans "Sakız Adası'nda ki ofisimiz ve tecrübeli kadromuz ile tatiliniz boyunca siz değerli misafirlerimize Türkçe hizmet vererek keyifli anlar geçirmeniz için zevk ile çalışmaktayız." %}
            </p>
          </div>
          <div class="col-md-12 col-md-offset-6">
              <br><br>
              <a style="padding-right:4rem;" href="https://www.facebook.com/DEN%C4%B0Z-TOURS-906203549502872/" target='_blank'><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
              <a style="padding-right:4rem;" href="" target='_blank'><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
              <a style="padding-right:4rem;" href="" target='_blank'><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
              <a style="padding-right:4rem;" href="" target='_blank'><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

    <div class="block block-overflow-hidden p-b-0 app-block-design">
      <!-- Image -->
      <img class="img-responsive m-t-sm" src="/static/imgs/agios-isidoros-chios.jpg">
    </div>

    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center m-b-lg">
            <p class="lead m-x-auto"> <strong> {% trans "Hizmetlerimiz"  %}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="featured-list">
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-bus"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>{% trans "Günübirlik ve Konaklamalı Turlar" %}</strong></p>
                <p class="featured-list-icon-text">
                  {% trans "Adada kalış sürenize göre ayarlanmış rehberli turlar." %}
                </p>
              </li>
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-google-wallet"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>{% trans "Gruplara Özel Turlar" %}</strong></p>
                <p class="featured-list-icon-text">
                  {% trans "Grubunuzun ilgi alanlarına göre ayarlanmış (kültür, lezzet, dalış, treking vs) turlar." %}
                </p>
              </li>
            </ul>
            <ul class="featured-list">
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-star-o"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>{% trans "Festival ve Panayır Turları" %}</strong></p>
                <p class="featured-list-icon-text">
                  {% trans "Tüm Yunanistan'da olduğu gibi Sakız Adası'nda da sene boyunca yapılan festival ve panayırlarda geleneksel eğlenceleri yakından gözlemleme fırsatı." %}
                </p>
              </li>
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-sign-language"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>{% trans "Seminer ve Kongre Organizasyonları" %}</strong></p>
                <p class="featured-list-icon-text">
                {% trans "Tecrübeli kadromuz ile en ince ayrıntısına kadar  planlayarak en başarılı organizasyonlara imza atıyoruz. TÜGİAD iş toplantıları ve İzmir-Chios kardeş okullar projesi gerçekleştirdiğimiz organizasyonlardan bazıları." %}
                </p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="featured-list">
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-ticket "></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>{% trans "Feryboat ve Uçak Biletleri" %}</strong></p>
                <p class="featured-list-icon-text">
                  {% trans "Yunanistan iç ve dış hatlardaki tüm seferler." %}
                </p>
              </li>
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-users"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>{% trans "Düğün ve Party Organizasyonları" %}</strong></p>
                <p class="featured-list-icon-text">
                   {% trans "Adanın büyüleyici atmosferinde peri masallarını kıskandıran düğünler. Her isteğe göre party organizasyonları." %}
                </p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="featured-list">
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-video-camera"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong> {% trans "Film, Belgesel ve Klip Prodüksüyonları" %}</strong></p>
                <p class="featured-list-icon-text">
                    {% trans "Tecrübeli ekibimizle Muhteşem Yüzyıl Kösem Sultan, Poyraz Karayel ve Sakız'ın Öyküsü Belgeseli Sakız adası prodüksüyonlarını başarılı bir şekilde gerçekleştirmiş bulunmaktadır." %}</p>
              </li>
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="fa fa-bed"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Otel ve Kiralık Araç Rezervasyonları</strong></p>
                <p class="featured-list-icon-text">
                   {% trans "En uygun fiyatlarla en güvenilir seçenekler." %}
                </p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12">
            <hr>
            <!-- form -->
            <br><br>
            <div class="text-center container-fluid">
              <p class="lead m-b-md">
                {% trans "Kampanyalarımızdan haberdar olmak için bültenimize" %}
                <strong>{% trans "üye olunuz" %}</strong>
              </p>
              <form action="/" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                  <button type="submit" class="btn btn-primary">
                    {% trans "Kayıt" %}
                </button>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block app-block-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <img height="150" width="150" class="img-responsive" src="/static/imgs/me.png" alt="Deniz Uyanmaz">
          </div>
          <div class="col-sm-4">
            <span class="text-success">Deniz Uyanmaz</span> <br>
            <i class="fa fa-email"></i><a href="mailto:info@deniztour.com">info@deniztour.com</a>
            <br>
            <h6 class="text-uppercase">
              Polichronopoulou 1, Chios, Greece <br><br>
              <i class="fa fa-phone fa-1x" aria-hidden="true"></i> +30 22710 23396 <br><br>
              <i class="fa fa-phone fa-1x" aria-hidden="true"></i> +30 690 874 9923 <br><br>
              <i class="fa fa-phone fa-1x" aria-hidden="true"></i> +90 536 543 7803 (Turkcell)
            </h6>
            <h5>
              <span style="font-size:12px" class="lead"> Licence (MHTE): 0312E60000052401</span>
            </h5>
          </div>
          <div class="col-sm-6">
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:220px;width:500px;'><div id='gmap_canvas' style='height:300px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com"></a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">directory submission sites</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(38.37077, 26.13714),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(38.37077, 26.13714)});infowindow = new google.maps.InfoWindow({content:'<strong>Deniz Tour</strong><br>Chios Poluchonopoulou 1<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/toolkit.js"></script>
    <script src="/static/js/application.js"></script>
  </body>
</html>
